<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Practice"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
<uses-permission
        android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.Practice.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".First" android:label="1.Buttons"></activity>
        <activity android:name=".Second" android:label="2.Listeners"></activity>
        <activity android:name=".Third" android:label="3.Scale Types"></activity>
        <activity android:name=".WebHelp" android:label="Web Help"></activity>
        <activity android:name=".FourthListView" android:label="4.ListView"></activity>
    </application>

</manifest>
